html
  body
    .ui-footer
      .footer-nav
        .footer-top
          dl.footer-dl
            dt 关于我们
            dd
              a(href='') 公司介绍
            dd
              a(href='') 营业网点
            dd
              a(href='') 组织机构
            dd
              a(href='') 公司动态
            dd
              a(href='') 主要业务
            dd
              a(href='') 信息披露
            dd
              a(href='') 招聘信息
          dl.footer-dl
            dt 快速通道
            dd
              a(href='') 开户指南
            dd
              a(href='') 网上交易指南
            dd
              a(href='') 风险揭示
            dd
              a(href='') 风险自测
            dd
              a(href='') 证券交易规则
            dd
              a(href='') 公司资质
            dd
              a(href='') 人员资质
            dd
              a(href='') 营销人员资格查询
          dl.footer-dl
            dt 业务介绍
            dd
              a(href='') 网上开户
            dd
              a(href='') 网上营业厅
            dd
              a(href='') 财经资讯
            dd
              a(href='') 实时行情
            dd
              a(href='') 爱建研究
            dd
              a(href='') 投资者乐园
            dd
              a(href='') 融资融券
            dd
              a(href='') 资产管理
          dl.footer-dl
            dt 联系我们
            dd
              a(href='') 客户意见受理
            dd
              a(href='') VIP咨询
            dd
              a(href='') 客服热线
          dl.footer-dl
            dt 友情链接
            dd
              a(href='') 中国证券业协会
            dd
              a(href='') 中国证监会
            dd
              a(href='') 上交所投资者教育
        .footer-bottom
          p.big-p 爱建证券有限责任公司版权所有 ©2015 All Rights 沪ICP备14054429号
          p 本站所提供的信息仅供参考，本公司开展网上证券委托业务已经中国证券监督委员会核准;该核准不构成中国证券监督管理委员会对本公司网上证券委托业务安全和效率的任何保证
