.ui-footer
  .footer-top
    dl.footer-dl
      dt 走进开源
      dd
        a(href='') 公司简介
      dd
        a(href='') 营业网点
      dd
        a(href='') 组织机构
      dd
        a(href='') 公司动态
      dd
        a(href='') 招聘信息
    dl.footer-dl
      dt 投资者教育
      dd
        a(href='') 投资规则
      dd
        a(href='') 证券知识
      dd
        a(href='') 交易知识
      dd
        a(href='') 风险提示
      dd
        a(href='') 打击非法证券
      dd
        a(href='') 法律法规
      dd
        a(href='') 股票期权专栏
    dl.footer-dl
      dt 公告与提示
      dd
        a(href='') 免责声明
      dd
        a(href='') 人员公告
      dd
        a(href='') 常见问题
      dd
        a(href='') 问卷调查
    dl.footer-dl
      dt 友情链接
      dd
        a(href='') 中国证券业协会
      dd
        a(href='') 中国证监会
      dd
        a(href='') 上交所投资者教育
      dd
        a(href='') 上交所投资者教育
    dl.footer-dl
      dt 客服电话
      dd.phone-num  400-860-8866
  .footer-bottom-wrap
    .footer-bottom
      .p
        p 开源证券有限责任公司版权所有 Copyright©2000-2013 All Rights 陕ICP备05002298号
      .p
        p 本站所提供的信息仅供参考，本公司开展网上证券委托业务已经中国证券监督委员会核准;
        p 该核准不构成中国证券监督管理委员会对本公司网上证券委托业务安全和效率的任何保证
