.ui-header
  .header-inner
    .logo
      a(href='/')
        img(src='images/logo.png', alt='logo')
    .nav
      ul
        li.nav-item
          a.nav-title.active 首页
        li.nav-item
          a.nav-title 办业务
        li.nav-item
          a.nav-title 买理财
        li.nav-item
          a.nav-title 找资源
        li.nav-item
          a.nav-title 开心贷
        li.nav-item
          a.nav-title 看行情
        li.nav-item
          a.nav-title 下软件
    .user-cen
      span.nav-title.user-center
      ul.sub.login
        li.sublist.loginBtn 我的资料
        li.sublist.loginBtn 我的资金
        li.sublist.loginBtn 我的股票
        li.sublist.loginBtn 我的订单
        li.sublist.loginBtn 我的账单
        li.sublist.loginBtn 资金流水
        li.sublist.loginBtn 消息中心
        li.sublist 退出
