.ui-footer,.ui-content-footer {
  box-sizing: border-box;
  margin: 0 auto;
  height: 410px;
  background: #f4f5f8;
  color: $text-color;
  font-size: $small-font-size;
  a{
    text-decoration: none;
  }
  .footer-wrap {
    margin: 0 auto;
    width: 1200px;
  }
  .footer-bottom-wrap {
    background: #424444;
  }
  .footer-top {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 46px;
    padding-left: 26px;
    width: 1200px;
    height: 320px;
    background: #f4f5f8;
    .footer-dl{
      display: inline-block;
      width: 226px;
      vertical-align: top;
      dt{
        margin-bottom: 26px;
        color: $text-dark-color;
        font-weight: bold;
        font-size: $h4-size;
      }
      dd{
        margin: 0;
        line-height: 2;
        &.phone-num {
          margin-top: 50px;
          color: $text-dark-color;
          font-size: $h4-size;
        }
      }
      a{
        color: $text-color;
      }
    }
  }
  .footer-bottom{
    margin: 0 auto;
    width: 1200px;
    height: 90px;
    font-size: $small-font-size;
    .p {
      float: left;
      margin-left: 30px;
    }
    p{
      margin-top: 18px;
    }
    .big-p{
      font-size: $font-size;
    }
  }
}
.ui-content-footer{
  .footer-top{
    .footer-dl{
      dt{
        color:$white;
      }
      a{
      }
    }
  }
}
