doctype html
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet', href='./css/main.css')
  body
    include ../includes/header
    block content
    include ../includes/footer
    script(src="./js/index.js")
